body {
    margin: 0;
}
header, footer {
    width: 100%;
    background-color: lightgray;
    overflow: auto;
}
header div {
    margin: auto;
    max-width: 800px;
}
header img {
    float: left;
    width: 60px;
    height: 60px;
    padding: 20px;
}
header h1 {
    float: left;
    padding: 20px 0 0 20px;
}
footer div {
    text-align: center;
}

nav.anamenu {
    max-width: 900px;
    background-color: lightgray;
    overflow: auto;
    border: thin solid;
    margin: auto;
    float: left;

}

nav.anamenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.anamenu li {
    display: inline;
    
}

nav.anamenu a{
    display: block;
    width: 120px;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    color: black;
}

nav.anamenu a.etkin {
    background-color:darkgray;
    color: white;
}

nav.anamenu a:hover:not(.etkin) {
    background-color: black;
    color: white;
}
main {
    margin: auto;
    max-width: 800px;
    border: solid 1px gray;
    overflow: auto;
}
 main div {
    width: 100%;
    display: table;
    border-spacing: 10px;
 }

 section {
    display: table-cell;
    border: thin solid gray;
    border-radius: 15px;
    width: auto;
    margin: 2px;
    padding: 10px;
 }

 aside {
    background-color: lightgray;
    display: table-cell;
    border-radius: 15px;
    height: 150px;
    width: 200px;
    margin: 2px;
    padding: 15px;
 }